body {
    margin: 0px;
}
h1 {
    font-size: 400%;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}
h2 {
    font-size: 250%;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0px;
}
a {
    text-decoration: none;
    color : blue;
}
#grid ol {
    font-size: 25px;
    margin: 0px;
    padding: 40px 40px 40px 70px;
}
#grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    
}
#grid #detail {
    border-left: 1px solid gray;
    padding: 20px;
}
.detail_home{
    font-size: 25px;
}
.night_day {
    text-align: center;
}
/*scree width < 990px*/
@media(max-width: 990px){
    #grid{
        display: block;
    }
    h1 {
        border-bottom: none;
    }
    .night_day {
        text-align: left;
        padding-left: 50px;
    }
}